<div class="row">
    <div class="col-12">
        <mat-card appearance="outlined">
            <mat-card-content style="text-align: center; background: #353C59; color: white;">Productos</mat-card-content>
          </mat-card>
    </div>
</div>

<div class="row" style="margin-top: 2%;">
    <div class="col-7"></div>
    <div class="col-1 centra"><p>Buscar</p></div>
    <div class="col-3" style="text-align: start;">
        <div class="input-group mb-3">
            <input type="text" class="form-control inputs" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" (change)="cambio();" [(ngModel)]="busqueda">
          </div>
    </div>
    <div class="col-1 centra" (click)="cambio()"><mat-icon>search</mat-icon></div>
</div>

<div class="row">
    <div class="col-12">
          
        @if(productos.length > 0)
        {
            <div class="mat-elevation-z8" style="height: 350px; overflow-y: scroll;">
                <table mat-table [dataSource]="dataSource" matSort>
              
                  <!-- ID Column -->
                  <ng-container matColumnDef="img">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="height: 24px !important; background: #353C59; color: white; font-family: Nunito;"> Imagen </th>
                    <td mat-cell *matCellDef="let row"> 
                        <img width="70" src="data:image/jpeg;base64,{{row.img}}">
                     </td>
                  </ng-container>
              
                  <!-- Progress Column -->
                  <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="height: 24px !important; background: #353C59; color: white; font-family: Nunito;"> Nombre </th>
                    <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="height: 24px !important; background: #353C59; color: white; font-family: Nunito;"> Precio </th>
                    <td mat-cell *matCellDef="let row" style="color: red;"> $ {{row.precio}} </td>
                  </ng-container>
              
                  <!-- Fruit Column -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="height: 24px !important; background: #353C59; color: white; font-family: Nunito;"> Acciones </th>
                    <td mat-cell *matCellDef="let row"> 
                        <div class="row">
                            <div class="col-5">
                                <button class="btn botonPersonalT" style="display: flex; align-items: center;" (click)="editar(row)">
                                    <mat-icon style="margin-left: 0rem; margin-right: 10px;">event</mat-icon>
                                    <div>Editar</div>
                                  </button>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-5">
                                <button class="btn botonPersonalT" style="display: flex; align-items: center;" (click)="eliminar(row)">
                                    <mat-icon style="margin-left: 0rem; margin-right: 10px;">delete</mat-icon>
                                    <div>Eliminar</div>
                                  </button>
                            </div>
                        </div>
                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                </table>
              
              </div>
        }
          
    </div>
</div>
<div class="row" style="margin-top: 3%;">
    <div class="col-2">
        <select class="form-select" aria-label=".form-select-lg example" [(ngModel)]="selectTotal" (change)="setPaginas()">
            @for (item of totalPaginas; track item) {
                <option value="{{item}}">{{item}}</option>
            }
          </select>
    </div>
    <div class="col-8"></div>
    <div class="col-2">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                @if(paginacion > 1)
                {
                    <li class="page-item" style="cursor: pointer;">
                        <p class="page-link"  (click)="setPestaniaLateral(1)">{{anterior}}</p>
                      </li>
                } @else{
                    <li class="page-item disabled" style="cursor: pointer;">
                        <p class="page-link">{{anterior}}</p>
                      </li>
                }
              
              @for (item of paginas; track item) {
                @if(item == paginacion)
                {
                    <li class="page-item" style="cursor: pointer;"><p class="page-link" tabindex="{{item}}" (click)="setPestania(item)" style="background: #353C59;">{{item}}</p></li>
                } @else {
                    <li class="page-item" style="cursor: pointer;"><p class="page-link" tabindex="{{item}}" (click)="setPestania(item)">{{item}}</p></li>
                }
                
              }

              @if(paginacion < paginas.length)
              {
                <li class="page-item">
                    <a class="page-link" (click)="setPestaniaLateral(2)">{{siguiente}}</a>
                  </li>
              } @else {
                <li class="page-item disabled">
                    <a class="page-link">{{siguiente}}</a>
                </li>
              }
              
            </ul>
          </nav>
    </div>
</div>
