<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <mat-card appearance="outlined">
      <mat-card-content
        style="
          text-align: center;
          background: #353c59;
          color: white;
          cursor: pointer;
        "
        >Detalle del producto</mat-card-content
      >
    </mat-card>
  </div>
  <div class="col-1"></div>
</div>

<div class="row" style="padding-top: 3%">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <img
              width="150"
              src="data:image/jpeg;base64,{{ Detalle.img }}"
              alt="Card image cap"
            />
          </div>
          <div class="col-6" style="text-align: end">
            <div class="row">
              <p>{{ Detalle.nombre }}</p>
            </div>
            <div class="row">
              <p>${{ Detalle.precio }}</p>
            </div>
            <div class="row">
              <p>Disponible: {{ Detalle.cantidad }}</p>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 20%">
          <div class="col-12">
            <textarea rows="5" cols="40">{{ Detalle.descripcion }}</textarea>
          </div>
        </div>
        <div class="row" style="margin-top: 10%">
          <div class="col-12">
            <button class="btn botonPersonal" (click)="agregarCarrito()">
              Agregar al carrito
            </button>
          </div>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
  <div class="col-1"></div>
</div>
